/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/images/Rd-sven-scheuermeier-108248-WaterBackground.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 1vh;
}


